*{
    box-sizing: border-box;

}

/*nav{
    background-color: #db0f54;
    z-index: 9999;
}
/*.navBar {
    position: relative;
    min-width: 100%;
    z-index: 3;
    background:#db0f54;
    height: 80px;
    top: 0px;
}

.logo {
  display: inline-block;
  height: 80px;
  margin: 5px 20px ;
  width: 170px;
  padding-bottom: 15px;
}

.hope {
  margin: 0 auto;
  max-width: 100%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  min-width: 40%;
  padding-right: 15px;
  padding-top: 10px;
}
nav ul a {
  color: #FFF;
  text-decoration: none;
  transition: all 0.5s ease;
}
nav ul a:hover {
  color: #AAA;
}
nav li {
    display: inline-block;
    padding: 6px 17px;
    font-size: 20px;
    font-family: 'Brandon Grotesque';
    font-weight: normal;
  font-style: normal;
}

nav ul li:last-child a{
    padding: 6px 17px;
    border: 2px solid;  
    border-radius: 5px;
    color: #00E4D9;
}

#menu-icon { display: none; /* hide menu icon initially *}

nav ul li:last-child a:hover{
    color: #00ABAF;
}

nav #menu-toggle {
  display: none;
}
nav .label-toggle {
  display: flex;
}
nav .hope {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  nav nav ul a {
    color: #FFF;
  }
  nav ul {
    background-color: #db0f54;
    display: block;
    height: 0;
    list-style-type: none;
    opacity: 0;
    text-align: center;
    transition: all 1s ease;
    width: 100%;
    visibility: hidden;

  }
  nav li {
    color: #53354A;
    display: block;
    font-size: 1.5em;
    padding: 1em 0;
    text-align: center;
  }
  nav #menu-toggle:checked ~ ul {
    opacity: 1;
    height: 100vh;
    visibility: visible;
    background:#db0f54; 
  }
  nav .label-toggle {
    background: linear-gradient(to bottom, #FFF 0%, #FFF 20%, transparent 20%, transparent 40%, #FFF 40%, #FFF 60%, transparent 60%, transparent 80%, #FFF 80%, #FFF 100%);
    cursor: pointer;
    display: block;
    float: right;
    height: 35px;
    margin-top: 3em;
    margin-right: 2em;
    width: 35px;
  }
  nav .hope {
    display: block;
  }
}
#divBusca{
    background-color:#fff;
    border:#fff;
    border-radius:20px;
    width: 350px;
    
  }
   
 #txtBusca{
    float:right;
    background-color:transparent;
    padding-left:25px;
    font-style:'Montserrat';
    font-size:18px;
    border:none;
    height:45px;
    width:300px;
       
  }*/

/*.escrit{
    font-family: 'Montserrat'; 
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}*/

header > h3 {
    font-size: 0.9rem;
}

.titles :hover{
    color: #db0f54;
}


.card :hover{
    color: #db0f54;

}
@media (max-width: 991px) { .card-text { display: none;}}



header > .escrit{
    font-family: 'Montserrat'; 
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    align-items: center;
    
}

header .escrit-one{
    font-family: 'Montserrat'; 
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    font-size: 26px;
    padding-top: 60px;
    height: 50px;
}
header #botao{
    font-size: 26px;
    padding-top: 60px;
}





#message { color: rgba(0,0,0,0.87); 
           font-family: 'Montserrat'; 
           background:whitesmoke; 
           max-width: 450px; 
           margin: 100px auto 16px; 
           padding: 32px 24px; 
           border-radius: 3px;
           font-weight: bold;

           
         }

#message h2 { color: #db0f54; 
              font-weight: bold; 
              font-size: 16px; 
              margin: 0 0 8px; }

#message h1 { font-size: 22px; 
              font-weight: bold;
              font-family: 'Montserrat';
              color: #db0f54; 
              margin: 0 0 16px;}
              
#message p { line-height: 140%; 
             margin: 16px 0 24px; 
             font-size: 14px; }
#message> #message a{
                align-items: center;
                display: flex;
            
            }             


#load { color: rgba(0,0,0,0.4); 
        text-align: center; 
        font-size: 13px; }

@media (max-width: 600px) {
        
        }
/*
header .ban-index{
    text-align: center
}


.ban-index{
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/GuiaUni-Foto01.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 360px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
   
   }
.ban-index .escrit h1{
    font-size: 26px;
    padding-top: 30px;
    height: 64px;
}
.ban-index .form-control{
    border-radius: 34px;
    border: #fff;
    color: #fff;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    width: 280px;
    height: 41.88px;
    
}
.ban-index #email::-webkit-input-placeholder{
    color:#FFFFFF;
    background-color: none;
    text-transform: uppercase;
    font-style: bold;
    font-family: 'Montserrat';
    
}
.ban-index #name::-webkit-input-placeholder{
    color:#FFFFFF;
    background-color: none;
    text-transform: uppercase;
    font-style: bold;
    font-family: 'Montserrat';
}
*/
header .ban-index{
    text-align: center
}
.ban-index{
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/GuiaUni-Foto01.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 315px; /*Largura do Banner*/
    display: flex;
    justify-content: center;
    flex-direction: column;
   
   }

.cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.btn-submit {
    display: flex;
    justify-content: center;
    flex-direction: column;
    Align-items: center;
}
.cadastro h1 {
    text-align: center;
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

@media (max-width: 720px) {
    .cadastro h1 {
        font-size: 20px;
    }
    #name, #email, #submit {
        width: 200px;
    }
}
#name, #email, #submit {
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
    width: 300px;
}

#submit {
    background-color: #fff;
    color: #db0f54;
    font-weight: bold;
    border: none;
    font-family: 'Montserrat', sans-serif;
}
.name, .email {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
}
input.name::placeholder, input.email::placeholder {
    color: #fff;
}
.email-form {
    color: #000;
}
.form-control {
    background-color: transparent;
    border: 1px solid #db0f54;
    color: #000;
}
input.form-control::placeholder {
    color: #000;
}
    

/*#cadastro-form {
    display: flex;
    justify-content: center;
}*/

.cadastro-form{
    margin: 0 auto;
width: 70%
}
.container-form{
    display: flex;
Flex-direction: column;
Align-items: center;
justify-content: center;
}




.ban-carreiras{

    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/carreiras.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;

    
}

.ban-carreiras h1{
    font-size: 60px;
    padding-top: 90px;
}
.ban-credito {
background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/CreditoUni.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
}
.ban-credito h1{
    font-size: 60px;
    padding-top: 90px;
}
.ban-habfut{
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/habilidades.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
}
.ban-habfut h1{
    font-size: 60px;
    padding-top: 90px;
}
.ban-conheobri{
    background-image:linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/Conhecimento.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
}
.ban-conheobri h1{
    font-size: 40px;
    padding-top: 90px;
}

.ban-novfies{
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/FIES.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
    
}
.ban-novfies h1{
    font-size: 60px;
    padding-top: 90px;
}
.ban-taxcon {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/conclusaomedio.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
}
.ban-taxcon h1{
    font-size: 60px;
    padding-top: 90px;

}
.ban-5dicas {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/5estudar.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;

}

.ban-5dicas h1{
    font-size: 60px;
    padding-top: 90px;

}

.ban-dep {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/depoimentos.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
}

.ban-dep h1{
    font-size: 60px;
    padding-top: 90px;
}

/* depoimentos */

.depoimento-white {
    display: flex;
    /* border: 1px solid black;    */
}

.depoimento-cinza{
    background-color: #F4F4F4;
    display: flex;
    /* border: 1px solid black;    */
}

.dep-direita {
    display: block;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 3%;
    margin-top: 3%;
    /* border: 1px solid red; */
    width: 60%;
}

.dep-direita > p {
    margin-bottom: 0;
    font-weight: normal;
}

@media (max-width: 914px) {
    .dep-direita > p {
        font-size: 1.8vh;}
    .dep-direita > h5 {
        font-size: 2vh;}

    
}

@media (max-width: 710px) {
    .dep-direita > p {
        font-size: 1.8vh;
    }
}

@media (max-width: 456px) {
    .dep-direita > p {
        font-size: 1.8vh;
    }
}

.dep-direita > h5 {
    font-family: 'Montserrat', sans-serif ;
    font-weight: bold;
    margin-bottom: 0;
}

.dep-direita-autor {
    text-align: right;
    display: block;
    margin-left: 5%;
    margin-right: 2%;
    margin-bottom: 3%;
    margin-top: 3%;
    width: 40%;
}

.dep-direita-autor > p {
    margin-bottom: 0;
    font-weight: normal;
}

.dep-direita-autor > h5 {
    font-family: 'Montserrat', sans-serif ;
    font-weight: bold;
    margin-bottom: 0;
}
.dep-esquerda > p {
    margin-bottom: 0;
}

.dep-esquerda {
    display: block;
    margin-left: 2%;
    margin-right: 5%;
    margin-bottom: 3%;
    margin-top: 3%;
    /* border: 1px solid blue; */
}

.quote {
    border-left: 1px solid #000;
    padding-left: 3%;
    font-weight: normal;       
}

.quote-cinza {
    border-right: 1px solid #000;
    padding-right: 3%;
    text-align: right;   
    font-weight: normal;
}


.container > .ban-obrigada{

    font-size: 60px;
    display: block;
    align-items: center;
    background-position: 90px;  
    padding-top: 120px;  
    padding-bottom: 120px;


}

.container > .ban-obrigada h1{
    font-size: 60px;
    
}
a{
    text-decoration: none !important;
    color: #000;
    
}


html, body{
    height: 100%;
    margin: 0;  
	padding:0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }


.arts {
    padding-left: 10%;
    padding-right: 10%;
    text-align: left;
    margin-top: 30vh;
    
}
.arts > h1, h3, p, .titles, a {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #000;
    line-height: 30px;
    
}

.titles > div > a:hover {
    color: #db0f54
    
}



article > .text-info {
    text-indent: 4em;
    font-weight: normal;
    line-height: 30px;
    
}


.text-info a{
    align-items: center;
}

article > p {
    font-weight: bold; 
}
.titles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.titles > div {
    padding-left: 1.5%;
    padding-right: 1.5%;
}


.container {
    display: block;
    
}

.card {
	max-width: 250px;
	margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
}

.card h5 {
    font-weight: 0;
    font-size: 18px;

}

.ban-posgrd{
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/GuiaUni-Foto-Dicas-de-pos.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
}
.ban-posgrd h1{
    font-size: 60px;
    padding-top: 90px;
}

.footer {
    margin-top: 16vh;
    background-color: #ee8e31;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    color: #fff;
    flex-wrap: wrap;    
}

.footer > .ft-copyright {
    padding-left: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 50%; 
}

.ft-copyright > span {
    margin-right: 1%;

}
.ft-social img {
    width: 7vh;
}
.linha-ft {
    margin: 1%;
}
.ft-social {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    font-weight: bold;
}

.ft-social > span {
    padding-right: 3%;
    padding-left: 3%;
}

@media (max-width: 720px) {
    .footer {
        font-size: 0.7rem;
    }
    .ft-social img {
        width: 3vh;
        padding-right: 0%;
    }
}


.btn-form {
    font-family: 'Montserrat'; 
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: #db0f54;
    background: #fff;
    border-radius: 50px;
    padding-right: 1%;
    padding-left: 1%;
    border: none;
    text-align: center;
    line-height: normal;

    width: 276px;
    height: 72px;
    /* left: 544px; */
    margin: 0 auto;


}
@media (max-width: 994px) {
    .img-art {
        display: flex;
        width: 100%;
        height: 100%;
    }
}



@media (max-width: 710px) {
    .btn-form {
        font-size: 15px;
        width: 200px;
        height: 72px;
        margin-top: 60px;
        display: flex;
    }
}

@media (max-width: 710px) {
    .escrit > h1 {
        font-size: 30px;
        
    }
}


.share {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-grow: 1;
}

.share a {
    width: 50%;
    font-size: 10vh;
}

.share i {
    color: #fff;
}

.share > a:visited {
    color: #fff;
}

.facebook {
    background-color: #3C5A99;
    padding: 2%;
    color: white;
}

.twitter {
    background-color: #1DA1F2;
    padding: 2%;
    color: white;
}

.linkedin {
    background-color: #0077B5;
    padding: 2%;
    color: white;

}

.whatsapp {
    background-color: #4AC959;
    padding: 2%;
    color: white;
}

@media (max-width: 710px) {
    i {
        font-size: 6vh;
        color: #fff;
    }
}

.btn-pagform {
    font-family: 'Montserrat'; 
    font-size: 16px;
    border: none;
    padding: 15px;
    background: #db0f54;
    color: #fff;
    border-radius: 50px;
    width:350px;
    padding-left: 5%;
}

.btn-pagform a {
    color: #fff;
}

.linha-form {
    display: flex;
    justify-content: center;
}

header li{
    display: inline-block;
        padding: 6px 17px;
        font-size: 20px;
        font-family: 'Brandon Grotesque';
        font-weight: normal;
      font-style: normal;
      
    }

    .navBar {
        display: flex;
        background-color: #DB0F54;
        height: auto;
    }
    
    .navBar-items {
        display: flex;
    }
    
    a.navBar-a, a.navBar-a:visited {
        text-decoration: none;
        color: #fff;
    }

    .navBar-a {
        font-weight: normal;
    }

    .navBar-link {
        padding-right: 10px;
        padding-left: 10px;
        font-family: 'Montserrat', sans-serif;
        color: #fff;
    }
    
    #divBusca {
        padding-left: 10px;
        margin-right: 8px;
    }
    .navBar-items {
        margin-left: auto;
        align-self: center;
    }
    
   
    .navBar-link-toggle {
        display: none;
    }
    
    .nav-logo {
        width: 130px;
        height: auto;
        margin-left: 8px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
    
    @media only screen and (max-width: 768px) {
        .navBar-items,
        .navBar {
            flex-direction: column;
        }
        .navBar-items {
            display: none;
        }
        .navBar-items {
            margin-left: 0;
        }
        .navBar-link-toggle {
            align-self: flex-end;
            display: flex;
            position: absolute;
            cursor: pointer;
            font-size: 40px;
            flex-direction: row;
            padding: 18px; 
        }
        .nav-logo {
            align-items: center;
        }
        .Navbar__ToggleShow {
            display: flex;
            align-self: flex-end;
            text-align: right;
          }
    }

    #txtBusca {
        border-radius: 20px;
        border: none;
   }
   @media (max-width: 769px) { #divBusca { display: none;}}

   #divbusca{
       display: flex;
       Position: relative;

   }
    #divBusca #title{
        background-color:#fff;
        border:#fff;
        border-radius:20px;
        padding: 5px;
        margin-right: 5px;
            
      }
#artigos{
    position: absolute;
    Background: #fff;
    List-style: none;
    Right: 0;
    margin-right: 10px;

}
#artigos li a { font-size: 11px;}

.ban-form {
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/GuiaUni-Foto01.png);
    background-size:cover ;
    height: 360px;
    width: 100%;
    justify-content: center;
    

}
.ban-form .form-control{
    border-radius: 34px;
    
}
.ban-form .escrit-one{
    float: inline-end;
}
/*Forms meio artigos*/
.agressive{
    background-image: linear-gradient(rgba(0,0,0, .5), rgba(0,0,0, 0.5)),
    url(../img/GuiaUni-Foto01.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 215px; 
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.agres-form{
    display: flex;
Flex-direction: column;
Align-items: center;
justify-content: center;
}
/*Forms meio artigos*/

.container-ebook {
    display: flex;
    justify-content: center;
    margin: 3% 10% 5% 10%;
}


.ebook {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0% 2% 2% 2%;
}

.ebook > p {
    font-weight: normal;
}
.ebook > img {
    padding-bottom: 2%;
    width: 100%;
}

.form-ebook {
    width: 50%;
    justify-content: center;
    display: flex;
    font-size: 24px;
    text-align: center;
    margin-left: 10%;
}


.form_ebook > p {
    font-weight: normal;
}

#contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nome, .email-form {
    width: 100%;
}

.nome > input#name:only-of-type {
    display: flex;
    width: 100%;
    margin: 0;
}

.email-form > input#email:only-of-type {
    display: flex;
    width: 100%;
    margin: 0;
}

@media (max-width: 728px) {
    .container-ebook {
        flex-direction: column;
        /* margin: 3%; */
        /* width: 100%; */
        justify-content: center;
        align-items: center;
    }
    div.form-ebook {
        margin-left: 0;
    }
    div.ebook {
        width: 100%;
    }
}

/* teste */

.dot {
    height: 100px;
    width: 100px;
    background-color: #bbb;
    border-radius: 50%;
    border: 4px solid #fff;
    position: relative;
    margin-left: 2%;
    margin-right: 2%;
  }

  .dot-pt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 14vh;
    flex-direction: row;
  }

  .dot-txt {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }

  @media (max-width: 914px) {
      .dot-pt {
          margin-top: 0;
      }
  }

  @media (max-width: 710px) {
      .dot-pt {
          margin-top: 20vh;
      }
  }

  @media (max-width: 456px) {
    .dot-pt {
        margin-top: 15vh;
    }
}

.dot-pt > h5 {
    font-weight: normal;
}

.dot-pt > h4 {
    font-weight: bold;
}

.dot-pt-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    flex-direction: column;
  }

.dot-pt-1 > h5 {
    font-weight: normal;
}

.dot-pt-1 > h4 {
    font-weight: bold;
}

@media (max-width: 704px) {
    .dot-pt-1 {
        margin-top: 15vh;
    }
}



 /* .hr-art {
    width: 30%;
    height: 0px;
    border: 1px solid black;
    align-self: flex-start;
    margin-top: -8vh;
    
 }

.hr-art2 {
    width: 30%;
    height: 0px;
    border: 1px solid black;
    align-self: flex-end;
  
     */
}

