*{
    box-sizing: border-box;

}

nav{
    background-color: #db0f54;
    z-index: 9999;
}

.escrit{
    font-family: 'Montserrat'; font-size: 40px;
    font-weight: bold;
    color: #fff;
    text-align: center;
}

header > h3 {
    font-size: 0.9rem;
}

.titles :hover{
    color: #db0f54;
}


.card :hover{
    color: #db0f54;

}



.btn :hover{
     background: #000;
}

.btform {
    font-family: 'Montserrat'; 
    font-size: 16px;
    border: none;
    padding: 15px;
    background: #db0f54;
    color: #fff;
    border-radius: 50px;
    width:350px;
    padding-left: 5%;
}

#botform a{
    text-align: center;

}


.banart img {
    height: 350px;
    width: 100%;
    background-size: cover;
    background-position-y: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.artban h1{
    text-align: center;

}

#message { color: rgba(0,0,0,0.87); 
           font-family: 'Montserrat'; 
           background:whitesmoke; 
           max-width: 450px; 
           margin: 100px auto 16px; 
           padding: 32px 24px; 
           border-radius: 3px;
           font-weight: bold;

           
         }

#message h2 { color: #db0f54; 
              font-weight: bold; 
              font-size: 16px; 
              margin: 0 0 8px; }

#message h1 { font-size: 22px; 
              font-weight: bold;
              font-family: 'Montserrat';
              color: #db0f54; 
              margin: 0 0 16px;}
              
#message p { line-height: 140%; 
             margin: 16px 0 24px; 
             font-size: 14px; }
             


#load { color: rgba(0,0,0,0.4); 
        text-align: center; 
        font-size: 13px; }

@media (max-width: 600px) {
        
        }

        

.ban-index{
    background-image: url(../img/GuiaUni-Foto01.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 350px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
   
   }
.ban-carreiras{

    background-image: url(../img/carreiras.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;

    
}

.ban-carreiras h1{
    font-size: 60px;
}
.ban-credito {
background-image: url(../img/CreditoUni.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
}
.ban-credito h1{
    font-size: 60px;
}
.ban-habfut{
    background-image: url(../img/habilidades.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
}
.ban-habfut h1{
    font-size: 60px;
}
.ban-conheobri{
    background-image: url(../img/Conhecimento.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
}
.ban-conheobri h1{
    font-size: 40px;
}

.ban-novfies{
    background-image: url(../img/FIES.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
    
}
.ban-novfies h1{
    font-size: 60px;
}
.ban-taxcon {
    background-image: url(../img/conclusaomedio.png);
    background-size:cover ;
    background-position: center;
    position: center;
    height: 300px;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    background-position-y: 40%;
    padding-bottom: 10px;
}
.ban-taxcon h1{
    font-size: 60px;
}
#submit-btn {
    background-color: #280968;
    border: none;
    border-radius: 2em;
    color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 3em;
    padding-left: 3em;
}

#submit-btn:hover {
    opacity: 0.8;
    
}

a{
    text-decoration: none !important;
    color: #000;
    
}

.footer, .push {
    height: 50px;
}



.footer{
    height: 10vh;
    background-color: #ee8e31;
    display: flex;
    position: relative;
    box-sizing: border-box;
    align-items: center;
    margin-top: -50px;
    text-align: left;

}
html, body{
    height: 100%;
    margin: 0;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }

.copyright p{
    margin: 0%;
    text-align: left;
    align-items: flex-start;   
    padding-left: 0%;
}

.footer-social{
    display: flex;
    align-items: center;
    margin-left: 60%;

}

.arts {
    padding-left: 10%;
    padding-right: 10%;
    text-align: justify;
}
.arts > h1, h3, p, .titles, a {
    font-family: 'Montserrat';
    font-weight: bold;
    color: #000;
    
}




.titles > div > a:hover {
    color: #db0f54
    
}



article > .text-info {
    text-indent: 4em;
    font-weight: normal;
}

article > p {
    font-weight: bold; 
}
.titles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.titles > div {
    padding-left: 1.5%;
    padding-right: 1.5%;
}

.share {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

.share > div {
    padding-right: 5px;
    padding-left: 5px;
    font-size: 10vh;
    color: white;
    flex-grow: 1
    
}

.share> a:visited {
    color: #fff;
}

.facebook {
    background-color: #3C5A99;
    
}

.twitter {
    background-color: #1DA1F2;
}

.linkedin {
    background-color: #0077B5;
}

.whatsapp {
    background-color: #4AC959;
}
.container {
    display: block;
}

.card {
	max-width: 250px;
	margin: 0 auto;
    border: 1px solid #ccc;
    display: flex;
}
